.login {
  width: 100%;
  height: 100%;
  display: flex;
}

.fitment {
  display: none;
  width: 60%;
  height: 100%;
  background-color: var(--secondary-light);
}

.still {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 430px) {
  .fitment {
    display: block;
  }

  .still {
    width: 40%;
  }
}
