.input-form {
  width: 80%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.input-label {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0.8rem;
  font-size: 1.2rem;
}

.input-field {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--primary-light);
  color: var(--primary-dark);
}

.input-password {
  height: 100%;
  width: 80%;
  /* margin: auto; */
  padding-left: 0.8rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--primary-light);
  color: var(--primary-dark);
  font-size: 1.2rem;
}

.input-text {
  height: 100%;
  width: 90%;
  /* margin: auto; */
  padding-left: 0.8rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--primary-light);
  color: var(--primary-dark);
  font-size: 1.2rem;
}

.iconbtn {
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

.iconbtn:hover {
  background-color: var(--primary-75);
  border-radius: 0.5rem;
}

.error {
  background-color: var(--warning-light);
  color: var(--warning-dark);
}

.borded {
  border: 1px solid var(--warning);
  background-color: var(--warning-light);
}
