.input-form {
  height: 80px;
  /* font-size: 1rem; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.input__form {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.input-label {
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1rem;
}

.input__label {
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1rem;
}

.input__field {
  height: 40px;
  width: 90%;
  margin: auto;
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid var(--primary-75);
  background-color: var(--primary-ligth);
  color: var(--primary-dark);
}

.input__input {
  height: 100%;
  width: 80%;
  margin: auto;
  /* padding-left: 0.5rem; */
  /* border-radius: 0.5rem; */
  border: none;
  background-color: var(--primary-ligth);
  color: var(--primary-dark);
}

.input__eye {
  width: 20%;
  height: 100%;
  text-align: right;
  border-radius: none;
}

.input-input {
  height: 40px;
  width: 90%;
  margin: auto;
  padding-left: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid var(--primary-ligth);
  background-color: var(--primary);
  color: var(--primary-dark);
}
