.btn {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
button {
  height: 60%;
  width: 100%;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: var(--primary-light);
  color: var(--primary-dark);
  cursor: pointer;
}

button:hover {
  background-color: var(--primary);
  color: var(--primary-light);
}

.yes:hover {
  background-color: green;
}

.not:hover {
  background-color: red;
}

.warning:hover {
  background-color: yellow;
}
