button {
  height: 2.5rem;
  width: 50%;
  border-radius: 0.5rem;
  border: none;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: var(--primary-ligth);
  color: var(--primary-dark);
}

button:hover {
  background-color: var(--success-ligth);
  color: var(--success-dark);
}
