header,
footer {
  width: 100%;
  height: 8vh;
  border: none;
  background-color: var(--primary-25);
  color: var(--primary-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

main {
  width: 100%;
  height: 92vh;
  border: none;
  color: var(--primary-darker);
  overflow: auto;
}

footer {
  font-size: calc(8px + 1vmin);
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: var(--primary-light);
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 8px;
  border: 3px solid var(--primary-light);
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}

input:-webkit-autofill {
  -webkit-text-fill-color: var(--primary-dark);
  -webkit-box-shadow: 0 0 0px 1000px var(--primary-light) inset;
  transition: background-color 5000s ease-in-out 0s;
}

@media (min-width: 769px) {
  header,
  footer {
    width: 100%;
    height: 8vh;
    background-color: var(--primary-25);
    color: var(--primary-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  main {
    width: 100%;
    height: 84vh;
    color: var(--primary-darker);
  }

  footer {
    font-size: calc(8px + 1vmin);
  }
}
