.movements {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1rem;
  overflow: auto;
}

.move_head_wrapper {
  width: 100%;
  background-color: var(--secondary-lighter);
  border-top: 1px solid var(--primary);
  border-bottom: 1px solid var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.move_head {
  width: 99%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.move_header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movements_list {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
}

.move_row {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.move_data {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.movimiento-id {
  display: none;
}

.movimiento-tipo {
  width: 15%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.elemento {
  width: 30%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.elemento-tipo {
  display: none;
}

.cantidad {
  width: 10%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.unidad {
  width: 10%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.move_action {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.move-btn {
  width: 100%;
  height: 50%;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 769px) {
  .movements {
    font-size: 1.5rem;
  }

  .movimiento-id {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .movimiento-tipo {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .elemento {
    width: 30%;
  }

  .elemento-tipo {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cantidad {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .unidad {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .move_action {
    width: 8%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
