.movimientos {
  width: 96vw;
  min-height: 100%;
  margin: auto;
}

.movimientos-detalle,
.movimientos-encabezado {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: flex-start;
}

.movimientos-encabezado {
  background-color: var(--secondary-75);
  color: var(--primary-25);
}

.movimientos-detalle {
  background-color: var(--secondary-light);
}

.movimientos-titulo {
  width: 88%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.movimiento {
  width: 88%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.movimiento:hover {
  background-color: var(--secondary-lighter);
}

.movimiento-fecha {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movimiento-referencia {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movimiento-tipo {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movimiento-material {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movimiento-cantidad {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plusbtn {
  width: 12%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}

.plusbtn:hover {
  background-color: var(--primary-75);
  color: var(--secondary-75);
}

.movimientobtn {
  width: 6%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.movimientobtn:hover {
  background-color: var(--secondary-lighter);
}
