.form-wrapper-purchase {
  width: 90%;
}

.input-wrapper-purchase {
  width: 90%;
}

.input-purchase {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

@media (min-width: 426px) {
  .form-wrapper-purchase {
    width: 90%;
    height: 90%;
  }

  .input-wrapper-purchase {
    width: 100%;
    height: 200px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }

  .input-purchase {
    width: 90%;
    margin: 0 auto;
  }

  .supplier {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 90%;
  }

  .input-label {
    font-size: 1rem;
  }

  input {
    font-size: 1rem;
  }
}
